<header
  data-controller="menu"
  class="bg-app-gradient-soft text-white shadow-sm w-full z-50">

  <div class="mx-auto px-4 h-16 flex items-center justify-between">

    <!-- 左：戻る -->
    <div class="w-12 flex items-center">
      <% unless current_page?(root_path) %>
        <%= link_to "javascript:history.back()",
            class: "
              w-10 h-10
              flex items-center justify-center
              rounded-full
              bg-white/25 backdrop-blur shadow-md
              backdrop-blur
              hover:bg-white/30
              active:scale-95
              transition
            " do %>

          <svg xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
            <path stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7" />
          </svg>

        <% end %>
      <% end %>
    </div>

    <!-- 中央：タイトル -->
    <div class="flex-1 text-center font-semibold text-lg md:text-xl">
      Yakyu Coach AI
    </div>

    <!-- 右：三本線 -->
    <div class="w-10 text-right">
      <button
        data-action="click->menu#toggle"
        class="w-10 h-10 flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="w-14 h-14"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

  </div>

  <!-- モバイルメニュー -->
  <div
    data-menu-target="panel"
    class="hidden fixed top-14 right-0 w-64 h-screen bg-white text-black shadow-lg p-6">
    <nav class="flex flex-col gap-4">
      <%= link_to "トップ", root_path %>
      <%= link_to "使い方", how_to_use_path %>
      <%= link_to "理解度変更", new_level_path %>

      <% if user_signed_in? %>
        <%= button_to "ログアウト",
            destroy_user_session_path,
            method: :delete,
            data: { turbo: false } %>
      <% else %>
        <%= link_to "Googleでログイン",
            user_google_oauth2_omniauth_authorize_path,
            data: { turbo: false } %>
      <% end %>
    </nav>
  </div>

</header>