<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- favicon -->
    <%= favicon_link_tag 'ai-logo.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'ai-logo.png' %>

    <!-- meta-tags　タイトル 説明文 -->
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100 min-h-screen">
    <%= render "shared/loading" %>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>

    <main>
      <%= yield %>
      <%= render "shared/footer" %>
    </main>
  </body>
</html>