<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- favicon -->
    <%= favicon_link_tag 'ai-logo.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'ai-logo.png' %>

    <!-- meta-tags　タイトル 説明文 -->
    <%= display_meta_tags(default_meta_tags) %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <% if Rails.env.production? && Rails.application.credentials.dig(:ga, :measurement_id).present? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.dig(:ga, :measurement_id) %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        document.addEventListener("turbo:load", () => {
          gtag('config', '<%= Rails.application.credentials.dig(:ga, :measurement_id) %>', {
            page_path: window.location.pathname
          });
        });
      </script>
    <% end %>
  </head>

  <body class="bg-gray-100 min-h-screen flex flex-col text-base md:text-lg leading-relaxed">

    <%= render "shared/loading" %>
    <%= render "shared/header" %>
    <%= render "shared/flash" %>

    <main class="flex-1 pt-14 pb-14">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>

  </body>
</html>